@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

/* Header */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
}

html * {
    background-color: #3d185b;
}

.bg {
    background
}

.title {
    text-decoration: none;
    color: whitesmoke;
    font-family: Roboto, Titillium Web;
    font-size: 2.5rem;
}

#logo {
    display: flex;
    justify-content: center;
    font-size: 125%;
}

.homepage_content_title {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
}

.homepage_paragraph {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-align: center;
    font-size: 1.8rem;
}

.quiz_image {
    display: flex;
    justify-content: center;
}

.button_area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 7px auto;
    width: 30rem;
    padding: 2rem 0;
}

.start_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px auto;
    max-width: 115px;

}

.button {
    cursor: pointer;
    padding: 0.6rem 1.5rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: navajowhite;
    color: #3d185b;
    box-shadow: 0 5px 15px blueviolet;
}

.button:disabled {
    background-color: #cccccc;
    color: #666666;
    border: 1px solid #999999
}


/* modal  */

.modal-box {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.733);

}

.modal-content {
    text-align: center;
    color: whitesmoke;
    margin: 15% auto;
    padding: 1.5rem;
    border: 3px solid whitesmoke;
    border-radius: 1rem;
    width: 40%;
}
.signup-modal-content {
    text-align: center;
    color: whitesmoke;
    margin: 15% auto;
    padding: 1.5rem;
    border: 3px solid whitesmoke;
    border-radius: 1rem;
    width: 70%;
}

.close-modal {
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 600;
    margin: 1.5rem;

}

.modal-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.instructions-list {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 600;
    list-style-position: inside;
    display: inline-block;

}

.instructions-list li {
    padding: 0.5rem;
}

.instructions {
    text-align: center;

}



/* sign up */
#sign_up {
    width: 100%;
    position: relative;
    bottom: 190px;
    background-image: url("../imagesform_photo.jpg");


}

.sign-up-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
}

.sign-up-title {
    color: whitesmoke;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.signup-label {
    color: whitesmoke;
    padding-bottom: 10px;

}

.sign-up-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-weight: 700;
    margin: 1rem auto;
}

.input-name {
    color: whitesmoke;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    border: 3px solid whitesmoke;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem

}

.feedback-text {
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 0.4rem;
    height: 6em;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

/* Username input  */

.username-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
    border: 3px solid whitesmoke;
    border: radius;
    border-radius: 1rem;
    width: 75%;
    margin: 15% auto;

}

#username {
    display: block;
    width: 100%;
    position: relative;
    bottom: 75px;
}

.username-container {
    margin: 7rem;

}

.username-text-input {
    color: whitesmoke;
    width: 100%;
    border-radius: 1.5rem;
    border: 3px solid whitesmoke;
    padding: 0.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.start-quiz-button {
    border: 3px solid whitesmoke;
    border-radius: 2rem;
    width: 100%;
    background-color: whitesmoke;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    margin: 0rem auto 1rem;
    text-align: center;
    align-items: center;
}

/* Quiz */
#welcome {
    color: whitesmoke;
    text-align: center;
    font-size: 1.8rem;
    
}

#question {
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;

}

#answer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.option {
    text-align: center;
    cursor: pointer;
    min-width: 35rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    border-style: solid;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: 2.5rem;
}

#next_button {
    width: 52%;
    background-color: ;
}

.option-container:hover p {
    background-color: #3d185b;
    color: #f0ffff
    
}

#quiz {
    display: none;
    position: relative;

}

/* Progress bar */
#progress_bar {
    padding: 2rem;
    

}

.bar {
    width: 75%;
    text-align: center;
    height: 10px;
    background-color: #3d185b;
    border-style: solid;
    margin:auto;
    border-radius: 0px 60px 0px;
}
.bar div {
    height: 100%;
    border-radius: 0px 60px;
    background-color: whitesmoke;
    transition: all 300ms;
}

#progress_number{
    text-align: center;
    color:whitesmoke;
    font-size: 1.8rem;
}

/* results */

.congrats {
    font-size: 10rem;
    text-align: center;
}

.fail {
    text-align: center;
    color: red;
    font-size: 2.5rem;
    font-weight: bolder;

}

.average {
    text-align: center;
    color:green;
    font-size: 2.5rem;
    font-weight: bolder;

}

.excellent{
    text-align: center;
    color: gold;
    font-size: 2.5rem;
    font-weight: bolder;

}

#results_note {
    text-align: center;
    color: whitesmoke;
    font-size: 1.8rem;
}

#back_to_home {
    align-items: center;
    margin: auto;
    position: relative;
    display: flex;
}

/* Icons */
.iconstyle {
    background-color: unset;
    color:#3d185b;

}