@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

/* Header */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: Oswald, sans-serif;
}

#homepage {
    background-color: #3d185b;
}

.title {
    text-decoration: none;
    color: whitesmoke;
    font-family: Roboto, Titillium Web ;
    font-size: 2.5rem;
}

#logo{
    display: flex;
    justify-content: center;
    font-size: 125%;
}

.homepage_content_title {
    display: flex;
    justify-content: center;
    color:whitesmoke;
    text-align: center;
    font-size: 1.8rem;
}

.homepage_paragraph {
    display: flex;
    justify-content: center;
    color:whitesmoke;
    text-align: center;
    font-size: 1.8rem;
}

.quiz_image {
    display: flex;
    justify-content: center;
}

.button_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 7px auto;
    max-width: 300px;
    padding: 1rem;
}

.start_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 12px auto;
    max-width: 115px;
   
}

.button_style {
    background: grey;
    color: whitesmoke;
    text-decoration: none;
    padding: 30px;
}

#quiz-container {
    height: 50vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    border: 0.3rem solid black;
    align-items: center;
    border-radius: 10px;
    background-color: #f0ffff;
    box-shadow: inset 0 0 20px;
    margin: auto;
    margin-top: 160px;
}